.button {
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.home {
  padding: 10% 0;
}

.game {
  display: none;
  /* margin: auto;
  width: 50%; */
  /* border: 3px solid green; */
  /* padding: 10px; */
  padding: 10% 0;
}

.history {
  display: none;
}

.min-width {
  min-width: 150px;
}

.game-title {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.background-color {
  background: lavender;
}

/* table, td, th { */
  /* border: 1px solid black; */
  /* border-spacing: 20px 10px; */
  /* border-collapse: separate;
  border-spacing: 0;
} */

.tab {
  border-collapse: separate;
  border-spacing: 10px 10px;
}

.btn-style {
  color: black;
  background-color: #5bc0de;
  border-color: #46b8da;
}

.right-align {
  float: right;
  margin-right: 20%;
}
